{% extends "base.html" %}
{% block content %}
<h2>Resume Agent</h2>
<form method="POST">
  <div class="mb-3">
    <label>Job Description</label>
    <textarea name="job_desc" class="form-control"></textarea>
  </div>
  <button class="btn btn-primary">Generate Resume</button>
</form>
{% if context %}
    <div class="mt-3 p-3 rounded bg-light border">
      <i class="fas fa-robot text-primary"></i> <strong>Bot:</strong>
      {% for key, value in context.items() %}
            <li><strong>{{ value }}</strong></li>
      {% endfor %}
      
    </div>
{% endif %}
{% endblock %}
